html {
    font-size: 18px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden; /* This prevents horizontal scrolling and cuts off overflow */
}

ul {
    justify-content: space-between;
}

li {
    margin: 0 0px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.4);
    padding: 3px;
}

html, body {
    height: 100%;
    margin: 0;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    min-height: 100%;
    position: relative;
}

main {
    padding-bottom: 60px;
}

.image-upload-container {
    margin: 0 0 0 5px;
    width: 180px;
    height: 250px; /* 16:9 ratio based on 300px width */
    background-color: #f8f9fa;
    border: 2px dashed #ced4da;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.form-group {
    padding: 5px;
}

@media (max-width: 700px) {
    .image-upload-container {
        margin: 0 auto;
    }
}

label {
    font-weight: bold;
}

.country-picker select {
    padding: 7px;
}

.image-upload-container img {
    width: 100%;
    height: auto;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
}

.image-upload-container i {
    font-size: 48px;
    color: #6c757d;
    position: relative;
    z-index: 1;
}

.btn, input {
    border-radius: 0px !important;
}

.back-btn {
    background-color: #e9ecef;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 600px) {
    tr, td {
        max-height: 60px;
        cursor: pointer;
    }
}

td {
    vertical-align: middle;
}

td a {
    min-width: 83px;
    margin: 1px;
}

#contact-page-buttons a {
    max-height: 46px;
    max-width: 190px;
}